h1{
    text-align: center; 
    font-size: 50px;
    font-family: 'Verdana', 'Geneva', sans-serif;
    color: rgb(222, 219, 13);
 }
 
 p{
    text-align: center;
    font-size: 30px;
    font-family: 'Verdana', 'Geneva', sans-serif;
    color: rgb(222, 219, 13);
 }
 
 body {
    background-color: rgb(232, 34, 12);
 }